### Slip 4
Write a python program to implement logistic Regression for predicting whether a
person will buy the insurance_data.csv. Use insurance_data.csv.

In [1]:
import pandas as pd

data = pd.read_csv('insurance_data.csv')
data.head()

   age  bought_insurance
0   22                 0
1   25                 0
2   47                 1
3   52                 0
4   46                 1

In [2]:
x = data[['age']]
y = data[['bought_insurance']]

In [3]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [4]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

model.fit(x_train,y_train)
model.predict(x_test)

c:\Users\PRERANA\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0, 1, 1, 0, 0, 0], dtype=int64)

In [5]:
y_test

    bought_insurance
16                 1
23                 1
8                  1
13                 0
18                 0
12                 0