### Slip2
Write a python program to implement simple Linear Regression for predicting house
price.

In [2]:
import pandas as pd
data = pd.read_csv('housearea.csv')
data.head()

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [3]:
x = data[['area']]
y = data[['price']]

In [4]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [5]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x_train,y_train)
model.predict(x_test)

array([[616465.51724138]])

In [6]:
y_test

    price
2  610000