### Slip 3
Write a python program to implement multiple Linear Regression for predicting
house price.

In [1]:
import pandas as pd 
data = pd.read_csv('housearea2.csv')
data.head()

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [2]:
data = data.fillna(method='bfill')

In [3]:
x = data.iloc[:,:3]
y = data[['price']]

In [4]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [5]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x_train,y_train)
model.predict(x_test)

array([[689384.12047375]])

In [6]:
y_test

    price
3  595000